@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
::-webkit-scrollbar {
  width: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #494949;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #6b6b6b;
  border-radius: 6px;
}

/* Handle on active/dragging */
::-webkit-scrollbar-thumb:active {
  background-color: #6b6b6b;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f100;
}

/* Corner */
::-webkit-scrollbar-corner {
  background: #f1f1f1;
}
body {
  color: #000000;
  background: #ffffff;
}

.text-stroke {
  -webkit-text-stroke: 1px #000; /* WebKit browsers (Safari, Chrome) */
  color: white; /* Set the text color */
}
.text-stroke-red {
  -webkit-text-stroke: 1px #ff20b8; /* WebKit browsers (Safari, Chrome) */
  color: white; /* Set the text color */
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.search_input {
  @apply block w-4/12 max-md:w-7/12 max-sm:w-8/12 rounded-md border border-gray-200 bg-white py-2.5 pl-5 pr-12 text-sm shadow-lg font-medium focus:border-black focus:outline-none focus:ring-0;
}
.ball{
  z-index: -1;
  filter: blur(100px);

}
.text-grad{
  /* text gradient from webkit */
  background: linear-gradient(269deg, #29005C 29.96%, #6611D2 93.86%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.nutricon{
   /* text gradient from webkit */
   background: linear-gradient(269deg, #00575C 29.96%, #00cfda 93.86%);
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;

}
.blueball{
  z-index: -10;
  filter: blur(100px);
}
.greenball{
  z-index: -10;
  filter: blur(100px);
}
.redball{
  z-index: -10;
  filter: blur(100px);
}
.container{
  z-index: -100;
}

.greentext{
  background: linear-gradient(269deg, #5C0000 29.96%, #D21111 93.86%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.yellowtext{
  background: linear-gradient(269deg, #615a00 29.96%, #d6a400 93.86%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}
.redtext{
  background: linear-gradient(269deg, #006117 29.96%, #00d60e 93.86%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}
/* HTML: <div class="loader"></div> */
.loader {
  display: inline-grid;
  padding: 5px;
  background: #0a002533;
  filter: blur(1rem) contrast(12);
  
}
.loader:before {
  content: "";
  height: 60px;
  aspect-ratio: 3;
  --c: #ffffff00 64%,#ffffff 66% 98%,#ffffff00 101%;
  background:
    radial-gradient(35% 146% at 50% 159%,var(--c)) 0 0,
    radial-gradient(35% 146% at 50% -59%,var(--c)) 100% 100%;
  background-size: calc(200%/3) 50%;
  background-repeat: repeat-x;
  animation: l11 .8s infinite linear;
}
@keyframes l11{
  to {background-position: -200% 0,-100% 100%}
}

.moving {
  background: linear-gradient(
      to right,
      #3b00b9 20%,
      #00affa 30%,
      #cd0101 70%,
      #2c2c2c 80%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  background-size: 500% auto;
  animation: textShine 5s ease-in-out infinite alternate;
}
@keyframes textShine {
  0% {
      background-position: 0% 50%;
  }
  100% {
      background-position: 100% 50%;
  }
}